<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<head>
	<title align="center">Map</title>
	<style>
		body {
		  background-color: lightblue;
		}
		#menu {
			position: absolute;
			background: lightblue;
			padding: 10px;
			font-family: 'Open Sans', sans-serif;
		}
		
		.calculation-box {
			height: 60px;
			width: 150px;
			position: absolute;
			top: 5px;
			left: 10px;
			background-color: rgba(255, 255, 255, .9);
			padding: 15px;
			text-align: center;
		}
		 
		p {
			font-family: 'Open Sans';
			margin: 0;
			font-size: 13px;
		}
		
		input[type=text] {
			width: 100%;
			box-sizing: border-box;
		}
		
		.left {
			float: left;
		}
		.topr {
			float: right;
			width: 25%;
			
		}
		.topr:after {
			content: "";
			display: table;
			clear: both;
		}
		
	</style>
	
	
	
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.css' rel='stylesheet' />
	
	<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
	<script src='https://unpkg.com/@turf/turf'></script>
	
	<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
	<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css'/>
	
	
</head>

<h1 class="title" align="center">
  Welcome, {{ name }}!
</h1>

<body>
	<div id='map' style='width: 100%; height: 600px;' ></div>
	
	<div class='calculation-box' align='center'>
		<p>Draw a polygon using the draw tools.</p>
		<div id='calculated-area'></div>
	</div>
	
	
	<pre id='info'></pre>
	<div id='menu'>
		<input id='streets-v11' type='radio' name='rtoggle' value='streets' checked='checked'>
		<label for='streets'>streets</label>
		<input id='satellite-v9' type='radio' name='rtoggle' value='satellite'>
		<label for='satellite'>satellite</label>
	</div>
	
	
	
	<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoiYTE2NzY1NTkiLCJhIjoiY2szd3hmN2xqMHFtOTNudDgwanQ4aDd1ZiJ9.FKD7LPF141JtaDUFndeqlQ';
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11'
		});
		
		var layerList = document.getElementById('menu');
		var inputs = layerList.getElementsByTagName('input');
		 
		function switchLayer(layer) {
			var layerId = layer.target.id;
			map.setStyle('mapbox://styles/mapbox/' + layerId);
		}
		 
		for (var i = 0; i < inputs.length; i++) {
			inputs[i].onclick = switchLayer;
		}
		
		map.on('mousemove', function (e) {
			document.getElementById('info').innerHTML =
			// e.point is the x, y coordinates of the mousemove event relative
			// to the top-left corner of the map
			JSON.stringify(e.point) + '<br />' +
			// e.lngLat is the longitude, latitude geographical position of the event
			JSON.stringify(e.lngLat.wrap());
		});
		
		var draw = new MapboxDraw({
			displayControlsDefault: false,
			controls: {
				polygon: true,
				trash: true
			}
		});
		map.addControl(draw);
		
		 
		map.on('draw.create', updateArea);
		map.on('draw.delete', updateArea);
		map.on('draw.update', updateArea);
		 
		function updateArea(e) {
		var data = draw.getAll();
		var answer = document.getElementById('calculated-area');
		if (data.features.length > 0) {
			var area = turf.area(data);
			// restrict to area to 2 decimal points
			var rounded_area = Math.round(area*100)/100;
			answer.innerHTML = '<p><strong>' + rounded_area + '</strong></p><p>square meters</p>';
		} 
		else {
			answer.innerHTML = '';
			if (e.type !== 'draw.delete') alert("Use the draw tools to draw a polygon!");
			}
		}
		
		
		map.addControl(new mapboxgl.NavigationControl());
		
		
		//var convexHull = {"type":"Feature","properties":{},"geometry":{"type":"Polygon","coordinates":[[[-70.90462094172835,-54.81653052382171],[-152.1933741029352,54.40521850716323],[-141.13392057828605,57.75256644934416],[99.20231077820063,63.65650059655309],[124.06602842733264,56.99360133614391],[135.6183164846152,-3.4640550892800093],[56.292790453881025,-31.89783283509314],[-70.90462094172835,-54.81653052382171]]]}};
		//window.alert(turf.area(convexHull));
		
	</script>
	
		<div class = "topr">
			<div class = "box">
				<form action = "profile" method = "GET">  
					<label for="lng">Longitude</label>
					<div class = "field">
						<div class = "control">
							<input class="input is-large" type="text" name="lng" placeholder= "Decimal value e.g. 8.55" autofocus="">
						</div>
					<div>
					<label for="lat">Latitude</label>
					<div class = "field">
						<div class = "control">
							<input class="input is-large" type="text" name="lat" placeholder= "Decimal value e.g. 47.36" autofocus="">
						</div>
					<div>
					<label for="from">Transfer from</label>
					<div class = "field">
						<div class = "control">
							<input class="input is-large" type="text" name="trFrom" placeholder= "e.g. wgs84, isn2004" autofocus="">
						</div>
					<div>
					<label for="lat">Transfer to</label>
					<div class = "field">
						<div class = "control">
							<input class="input is-large" type="text" name="trTo" placeholder= "e.g. wgs84, isn2004" autofocus="">
						</div>
					<div>
					<button calss = "button is-block is-info is-large is-fullwidth">Convert</button>
				</form>
			</div>	
		</div>
		
	
			<!--<form method="POST" action="">-->
		
			<!--</form>-->
			<!--
				<div class="topr">
					<form>
					  
					</form>
				
					<select id="cord" name="cord">
						<option value="wgs84">WGS 84</option>
						<option value="isn2004">ISN2004</option>
						<option value="wgs84b">WGS 84 / Pseudo-Mercator</option>
						<option value="osgb36">OSGB 1936</option>
						<option value="rgf93">RGF93</option>
						<option value="nzgd49">NZGD49</option>
						<option value="blg72">Belge 1972</option>
						<option value="aft">Amersfoort</option>
						<option value="etrs89">ETRS89</option>
						<option value="sjtsk">S-JTSK</option>
						<option value="ch03">CH1903</option>
					</select>
				
				</div>
			-->
		
</body>


{% endblock %}
